* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 62%;
}
body {
  font-family: "Montserrat", sans-serif;
}
header {
  height: 100px;
  font-size: 4em;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(7, 180, 172);
  color: rgb(255, 255, 255);
}
header a {
  text-decoration: none;
  color: white;
}
a:hover {
  opacity: 0.5;
}
main {
  height: 80vh;
  background-color: rgb(211, 211, 211);
  display: flex;
  justify-content: center;
  align-items: center;
}
.left {
  width: 50%;
  height: 100%;
  margin: 12px;
  background-image: url(./images/brain_left.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-size: 270px;
  background-position: right;
  position: relative;
  z-index: 0;
  /*   animation-name: Brainleft;
  animation-duration: 5s;
  animation-iteration-count: infinite;

  animation: Brainleft 0.4s ease-in-out 1s 1 normal both; */
}

/* @keyframes Brainleft {
  from {
  }
}
 */
.leftbtm {
  width: 179px;
  height: 60px;
  font-size: 4rem;
  color: rgb(32, 32, 32);
  position: absolute;
  top: 276px;
  left: 436px;
  z-index: 1;
}
.right {
  margin: 12px;
  width: 50%;
  height: 100%;
  background-image: url(./images/brain_right.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-size: 270px;
  background-position: left;
  position: relative;
  z-index: 0;
}
.rightbtm {
  width: 200px;
  height: 60px;
  font-size: 4rem;
  color: rgb(32, 32, 32);
  position: absolute;
  top: 276px;
  left: 312px;
  z-index: 1;
}
main div div a {
  color: rgb(54, 54, 54);
  text-decoration: none;
}
footer {
  height: 70px;
  grid-area: footer;
  background-color: rgb(118, 145, 185);
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.6rem;
}
footer p a {
  font-size: 2rem;
  color: rgb(238, 238, 238);
  text-decoration: none;
}
@media only screen and (max-width: 576px) {
  nav {
    display: inline-block;
  }
}
